/{
    aliases {
	dirfirst = &pin_dirfirst;
	stepfirst = &pin_stepfirst;
	ms1first = &ms_1first;
	ms2first = &ms_2first;
	ms3first = &ms_3first;

	dirsecond = &pin_dirsecond;
	stepsecond = &pin_stepsecond;
	ms1second = &ms_1second;
	ms2second = &ms_2second;
	ms3second = &ms_3second;
    };

    gpio_keys {
        compatible = "gpio-keys";

	pin_dirfirst: pin_dirfirst {
            gpios = <&gpioa 6 GPIO_ACTIVE_LOW>;
	};

	pin_stepfirst: pin_stepfirst {
            gpios = <&gpioa 7 GPIO_ACTIVE_LOW>;
	};

	ms_1first: ms_1first {
            gpios = <&gpioa 4 GPIO_ACTIVE_LOW>;
	};

	ms_2first: ms_2first {
            gpios = <&gpioa 5 GPIO_ACTIVE_LOW>;
	};

	ms_3first: ms_3first {
            gpios = <&gpioa 6 GPIO_ACTIVE_LOW>;
	};

	pin_dirsecond: pin_dirsecond {
            gpios = <&gpioc 4 GPIO_ACTIVE_LOW>;
	};

	pin_stepsecond: pin_stepsecond {
            gpios = <&gpioc 5 GPIO_ACTIVE_LOW>;
	};

	ms_1second: ms_1second {
            gpios = <&gpioa 7 GPIO_ACTIVE_LOW>;
	};

	ms_2second: ms_2second {
            gpios = <&gpioe 7 GPIO_ACTIVE_LOW>;
	};

	ms_3second: ms_3second {
            gpios = <&gpiob 2 GPIO_ACTIVE_LOW>;
	};
    };
};

